<% @title="Your Profile"%>

  <div class="row">
	  <div class="col-md-3">
      <% unless @user.avatar.attachment.nil? %>
        <%= image_tag @user.avatar, height: 200, class: "img-fluid" %>
      <% else %>
        <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg", height = 200,class="img-fluid">
      <% end %> 
      <h2><%= @user.login %></h2>
        <h3><%= @user.email %></h3>
        <h3><%= @user.role %></h3>
        <p>
        <%if @location%>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@location.latitude},#{@location.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
      <%end%>
    </p>
  </div>
  </div>