<% @title="Your Profile"%>

  <div class="row">
	  <div class="col-md-3">
      <% unless @user.avatar.attachment.nil? %>
        <%= image_tag @user.avatar, height: 200, class: "img-fluid" %>
      <% else %>
        <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg", height = 200,class="img-fluid">
      <% end %> 
      <h2><%= @user.login %></h2>
        <h3><%= @user.email %></h3>
        <h3><%= @user.role %></h3>
        <p>
        <%if @location%>
        <div style='width: 600px;'>  
  <div id="map" style='width: 600px; height: 300px;'></div>  
</div>  
<script type="text/javascript">
    
handler = Gmaps.build('Google');  
handler.buildMap({ internal: {id: 'map'},
    provider: {
    }}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": <%= @location.latitude%>,  
      "lng": <%= @location.longitude%>,  
      "picture": {  
        "width": 40,  
        "height": 40  
      },  
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds(); 
  handler.getMap().setZoom(13.9);
});  
</script>
      <%end%>
    </p>
  </div>
  </div>