<% @title ="Homepage"%>
<div class="container">
           <div class= "jumbotron">
                 <h1>Прототип Сервиса Поиска исполнителей</h1>
                 <% if !signed_in?%>
            <%= link_to "Sign in", login_path, class:"btn btn-primary"%>
            <%= link_to "Register", new_user_path, class:"btn btn-outline-info"%>
            <%end%>
            </div>
            <%= form_tag posts_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Search", :name => nil  %>
 <% end %>

<hr />
<table>
  <tr>
    <th>User</th>
    <th>Text</th>
  </tr>
 <tr>
  <td><hr></td>
  <td><hr></td>
</tr>
  <% @post.each do |p| %>
    <tr>
      <td><% if p.user.avatar.attachment%>
                         <%= image_tag p.user.avatar,height: 50 %>
                         <%else %>
                         <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg", height = 50,class="img-fluid">
                    <%end%><td>
      <td><%= link_to 'Show', :action => :show,:controller=>"posts", :id => p.id %></td>
      <td><%= link_to p.user.login, "/users/#{p.user.id}" %></td>
      <td><%= p.body %></td>
    </tr>
    <tr>
      <td><hr></td>
      <td><hr></td>
    </tr>
  <% end %>
</table>
            </div>
    