 <div id="forms">
    <%= form_tag posts_path, :method=> "get" do %>

      <%= label_tag :search, "search" %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search" %> 
    <% end %>

</div>

<hr />
<table>
  <tr>
    <th>Author</th>
    <th>Text</th>
  </tr>
 <tr>
  <td><hr></td>
  <td><hr></td>
</tr>
  <% @posts.each do |post| %>
  <td><% if post.user.avatar.attachment%>
                         <%= image_tag post.user.avatar,height: 50 %>
                         <%else %>
                         <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg", height = 50,class="img-fluid">
                    <%end%><td>
    <tr>
      <td><%= post.user.login %></td>
      <td><%= link_to post.body , :action => :show, :id => post.id %></td>
      <%if current_user?(post.user.id)%>
      <td><%= link_to 'Destroy', { :action => :destroy, :id => post.id }, :method => :delete, :confirm => 'Are you sure?' %></td>
      <%end%>
    </tr>
    <tr>
      <td><hr></td>
      <td><hr></td>
    </tr>
  <% end %>
</table>